<!-- Set document title - see "_layout/_backend-document.html" -->
{% set document_title = "UI Elements &ndash; Alerts / Notify" %}
{% set active_page = "base_ui_alerts_notify" %}
{% set open_subnav = "base_ui" %}

<!-- Extend "drawer" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-drawer.html" %}

<!-- Extend page's "content" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-page.html" %}

<!-- Page content -->
{% block content %}

<!-- Page Content -->
<div class="container-fluid p-y-md">

	<!-- Alerts -->
	<div class="card">
		<div class="card-header">
			<h4>Alerts</h4>
		</div>
		<div class="card-block">
			<div class="alert alert-success">
				<p><strong>Well done!</strong> You successfully read this important alert message.</p>
			</div>
			<div class="alert alert-info">
				<p><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</p>
			</div>
			<div class="alert alert-warning">
				<p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
			</div>
			<div class="alert alert-danger">
				<p><strong>Oh snap!</strong> Change a few things up and try submitting again.</p>
			</div>
		</div><!-- .card-block -->
	</div><!-- End Alerts // .card -->

	<!-- Dismissable alerts -->
	<div class="card">
		<div class="card-header">
			<h4>Dismissable alerts</h4>
		</div>
		<div class="card-block">
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p><strong>Well done!</strong> You successfully read this important alert message.</p>
			</div>
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</p>
			</div>
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p><strong>Warning!</strong> Better check yourself, you're not looking too good.</p>
			</div>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p><strong>Oh snap!</strong> Change a few things up and try submitting again.</p>
			</div>
		</div><!-- .card-block -->
	</div><!-- End Dismissable alerts // .card -->
	
	<!-- Links in Alerts -->
	<div class="card">
		<div class="card-header">
			<h4>Links in alerts</h4>
		</div>
		<div class="card-block">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Well done!</strong> <a class="alert-link" href="#">Change a few things up</a> and try submitting again.
			</div>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Heads up!</strong> Change a <a class="alert-link" href="#">few things</a> up and try submitting again.
			</div>
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Warning!</strong> Best check yo self, <a class="alert-link" href="#">you're not looking too good.</a>
			</div>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Oh snap!</strong> Change a few things up and <a class="alert-link" href="#">try submitting again.</a>
			</div>
		</div><!-- .card-block -->
	</div><!-- End Links in alerts // .card -->

	<!-- Notify (.js-notify class is initialized in App() -> uiHelperNotify()) -->
	<div class="card">
		<div class="card-header">
			<h4>Notify</h4>
		</div>
		<div class="card-block">
			<div class="row">

				<!-- Top left alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Top Left</h4>
					<p class="m-b">
						<button class="js-notify btn btn-sm btn-sm btn-info" data-notify-type="info" data-notify-align="left" data-notify-message="Congrats! You've reached level 12!">Info</button>
						<button class="js-notify btn btn-sm btn-sm btn-success" data-notify-type="success" data-notify-align="left" data-notify-message="App was updated successfully to 1.2 version">Success</button>
						<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-align="left" data-notify-message="Please make a backup before updating!">Warning</button>
						<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-align="left" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End top left alerts // .col-sm-6 -->

				<!-- Top center alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Top Center</h4>
					<p class="m-b">
					<button class="js-notify btn btn-sm btn-info" data-notify-type="info" data-notify-align="center" data-notify-message="Congrats! You've reached level 12!">Info</button>
					<button class="js-notify btn btn-sm btn-success" data-notify-type="success" data-notify-align="center" data-notify-message="App was updated successfully to 1.2 version">Success</button>
					<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-align="center" data-notify-message="Please make a backup before updating!">Warning</button>
					<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-align="center" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End top center alerts // .col-sm-6 -->

				<!-- Top right alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Top Right</h4>
					<p class="m-b">
					<button class="js-notify btn btn-sm btn-info" data-notify-type="info" data-notify-message="Congrats! You've reached level 12!">Info</button>
					<button class="js-notify btn btn-sm btn-success" data-notify-type="success" data-notify-message="App was updated successfully to 1.2 version">Success</button>
					<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-message="Please make a backup before updating!">Warning</button>
					<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End top right alerts // .col-sm-6 -->

				<!-- Bottom left alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Bottom Left</h4>
					<p class="m-b">
					<button class="js-notify btn btn-sm btn-info" data-notify-type="info" data-notify-from="bottom" data-notify-align="left" data-notify-message="Congrats! You've reached level 12!">Info</button>
					<button class="js-notify btn btn-sm btn-success" data-notify-type="success" data-notify-from="bottom" data-notify-align="left" data-notify-message="App was updated successfully to 1.2 version">Success</button>
					<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-from="bottom" data-notify-align="left" data-notify-message="Please make a backup before updating!">Warning</button>
					<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-from="bottom" data-notify-align="left" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End bottom left alerts // .col-sm-6 -->

				<!-- Bottom center alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Bottom Center</h4>
					<p class="m-b">
					<button class="js-notify btn btn-sm btn-info" data-notify-type="info" data-notify-from="bottom" data-notify-align="center" data-notify-message="Congrats! You've reached level 12!">Info</button>
					<button class="js-notify btn btn-sm btn-success" data-notify-type="success" data-notify-from="bottom" data-notify-align="center" data-notify-message="App was updated successfully to 1.2 version">Success</button>
					<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-from="bottom" data-notify-align="center" data-notify-message="Please make a backup before updating!">Warning</button>
					<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-from="bottom" data-notify-align="center" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End bottom center alerts // .col-sm-6 -->

				<!-- Bottom right alerts -->
				<div class="col-sm-6 col-lg-4">
					<h4 class="h5">Bottom Right</h4>
					<p class="m-b">
					<button class="js-notify btn btn-sm btn-info" data-notify-type="info" data-notify-from="bottom" data-notify-message="Congrats! You've reached level 12!">Info</button>
					<button class="js-notify btn btn-sm btn-success" data-notify-type="success" data-notify-from="bottom" data-notify-message="App was updated successfully to 1.2 version">Success</button>
					<button class="js-notify btn btn-sm btn-warning" data-notify-type="warning" data-notify-from="bottom" data-notify-message="Please make a backup before updating!">Warning</button>
					<button class="js-notify btn btn-sm btn-danger" data-notify-type="danger" data-notify-from="bottom" data-notify-message="Something went wrong!">Error</button>
					</p>
				</div><!-- End bottom right alerts // .col-sm-6 -->

			</div><!-- .row -->
		</div><!-- .card-block -->
	</div><!-- .card -->
	<!-- End Notify -->
</div>
<!-- End Page Content -->

{% endblock %}
<!-- End page content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
<!-- Page JS Plugins -->
<script src="{{ js_path }}plugins/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- Page JS Code -->
<script>
	$( function () {
		// Init page helpers (BS Notify Plugin)
		App.initHelpers( 'notify' );
	});
</script>
{% endblock %}
