<!-- Set document title - see "_layout/_backend-document.html" -->
{% set document_title = "Pages &ndash; Invoice" %}
{% set active_page = "base_pages_invoice" %}
{% set open_subnav = "base_pages" %}

<!-- Extend "drawer" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-drawer.html" %}

<!-- Extend page's "content" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page Content -->
<div class="container-fluid p-y-md">
	<!-- Invoice -->
	<div class="card">
		<div class="card-header">
			<h4>#INV03251</h4>
			<ul class="card-actions">
				<li>
					<!-- Print Page functionality is initialized in App() -> uiHelperPrint() -->
					<button type="button" onclick="App.initHelper( 'print-page' );"><i class="ion-printer m-r-xs"></i> Print Invoice</button>
				</li>
			</ul>
		</div>
		<div class="card-block">
			<!-- Invoice Info -->
			<div class="h1 text-uppercase text-center m-t m-b-md hidden-print">Invoice</div>
			<hr class="hidden-print">
			<div class="row">
				<!-- Company Info -->
				<div class="col-xs-6 col-sm-4 col-lg-3">
					<p class="h3">Company name</p>
					<address>
						Address<br>
						Town/City<br>
						Region, Zip/Postal Code<br>
						<i class="ion-ios-telephone-outline"></i> (000) 000-0000
					</address>
				</div>
				<!-- End Company Info -->

				<!-- Client Info -->
				<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-6 text-right">
					<p class="h3">Client's Full name</p>
					<address>
						Address<br>
						Town/City<br>
						Region, Zip/Postal Code<br>
						<i class="ion-ios-telephone-outline"></i> (000) 000-0000
					</address>
				</div>
				<!-- End Client Info -->
			</div>
			<!-- End Invoice Info -->

			<!-- Table -->
			<div class="table-responsive m-y-lg">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center" style="width: 50px;"></th>
							<th>Product</th>
							<th class="text-center" style="width: 100px;">Quantity</th>
							<th class="text-right w-10">Unit</th>
							<th class="text-right w-10">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">1</td>
							<td>
								<p class="font-500 m-b-0">Video footage</p>
								<p class="small text-muted">Father teaches baby to walk</p>
							</td>
							<td class="text-center">1</td>
							<td class="text-right">$ 53.800,00</td>
							<td class="text-right">$ 53.800,00</td>
						</tr>
						<tr>
							<td class="text-center">2</td>
							<td>
								<p class="font-500 m-b-0">Stock image</p>
								<p class="small text-muted">USA Flag GT</p>
							</td>
							<td class="text-center">1</td>
							<td class="text-right">$ 1.200,00</td>
							<td class="text-right">$ 1.200,00</td>
						</tr>
						<tr>
							<td class="text-center">3</td>
							<td>
								<p class="font-500 m-b-0">App Design</p>
								<p class="small text-muted">Restaraunt web / mobile application</p>
							</td>
							<td class="text-center">2</td>
							<td class="text-right">$ 3.700,00</td>
							<td class="text-right">$ 3.700,00</td>
						</tr>
						<tr>
							<td class="text-center">4</td>
							<td>
								<p class="font-500 m-b-0">Ionicons</p>
								<p class="small text-muted">Package of vector icons</p>
							</td>
							<td class="text-center">4</td>
							<td class="text-right">$ 700,00</td>
							<td class="text-right">$ 700,00</td>
						</tr>
						<tr>
							<td colspan="4" class="font-500 text-right">Subtotal</td>
							<td class="text-right">$ 12.500,00</td>
						</tr>
						<tr>
							<td colspan="4" class="font-500 text-right">Vat Rate</td>
							<td class="text-right">20%</td>
						</tr>
						<tr>
							<td colspan="4" class="font-500 text-right">Vat Amount</td>
							<td class="text-right">$ 9.700,00</td>
						</tr>
						<tr class="active">
							<td colspan="4" class="font-500 text-uppercase text-right">Total</td>
							<td class="font-500 text-right">$ 11.780,00</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->

			<!-- Footer -->
			<hr class="hidden-print">
			<p class="text-muted text-center"><small>Thank you very much for doing business with us. We will happy to work with you again!</small></p>
			<!-- End Footer -->
		</div>
	</div>
	<!-- End Invoice -->
</div>
<!-- End Page Content -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
{% endblock %}
