<!-- Set document title - see "_layout/_backend-document.html" -->
{% set document_title = "UI Elements &ndash; Cards" %}
{% set active_page = "base_ui_cards" %}
{% set open_subnav = "base_ui" %}

<!-- Extend "drawer" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-drawer.html" %}

<!-- Extend page's "content" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page Content -->
<div class="container-fluid p-y-md">
	<!-- App bg variants -->
	<h2 class="section-title">App background variants</h2>
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-green bg-inverse">
					<h4>Green</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-blue bg-inverse">
					<h4>Blue</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-orange bg-inverse">
					<h4>Orange</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-red bg-inverse">
					<h4>Red</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-purple bg-inverse">
					<h4>Purple</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-cyan bg-inverse">
					<h4>Cyan</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-teal bg-inverse">
					<h4>Teal</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-light bg-inverse">
					<h4>Light</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->
	</div><!-- .row -->
	<!-- End App bg variants -->

	<!-- Bootstrap bg variants -->
	<h2 class="section-title">Bootstrap background variants</h2>
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-success">
					<h4>Success</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-info">
					<h4>Info</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-warning">
					<h4>Warning</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-header bg-danger">
					<h4>Danger</h4>
					<ul class="card-actions">
						<li>
							<button type="button"><i class="ion-more"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<p>Card's content..</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->
	</div><!-- .row -->
	<!-- End Background variants -->


	<!-- Cards with Actions -->
	<h2 class="section-title">With actions</h2>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h4>Card title</h4>
					<ul class="card-actions">
						<li>
							<button type="button" data-toggle="tooltip" title="Undo"><i class="ion-action-undo"></i></button>
						</li>
						<li>
							<button type="button" data-toggle="tooltip" title="Redo"><i class="ion-action-redo"></i></button>
						</li>
						<li>
							<button type="button" data-toggle="tooltip" title="Edit"><i class="ion-pencil"></i></button>
						</li>
						<li class="dropdown">
							<button type="button" data-toggle="dropdown">More <span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-header">Profile</li>
								<li>
									<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span> News</a>
								</li>
								<li>
									<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span> Messages</a>
								</li>
								<li class="divider"></li>
								<li class="dropdown-header">More</li>
								<li>
									<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
								</li>
							</ul>
						</li>
					</ul><!-- .card-actions -->
				</div>
				<div class="card-block">
					<p>With button actions...</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->

		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h4>Card title</h4>
					<ul class="card-actions">
						<li>
							<span>Text 1</span>
						</li>
						<li>
							<span>Text 2</span>
						</li>
						<li>
							<span>Text 3</span>
						</li>
					</ul><!-- .card-actions -->
				</div>
				<div class="card-block">
					<p>With text items...</p>
				</div>
			</div>
		</div><!-- .col-sm-6 -->
	</div><!-- .row -->
	<!-- End Cards with Actions -->
</div>
<!-- End Page Content -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
{% endblock %}
