<!-- Page Content -->
<!-- SlimScroll (data-js-slimscroll is initialized in directives/js-slimscroll.js) -->
<!-- For more info and examples you can check out http://rocha.la/jQuery-slimScroll -->
<div class="container-fluid p-y-md">
	<h2 class="section-title">Default height</h2>
	<div class="row">
		<!-- Autohide Scrollbar -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Autohide Scrollbar</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll>
						<p>At velit option noluisse his, meis labitur an qui. At cum autem commodo referrentur, dolorem tacimates erroribus no mei. His essent voluptua ea. Dolor munere assentior sit at. Ad veritus fastidii per.</p>
						<p>An his habeo sapientem, eu sed corpora splendide aliquando. Id viris cotidieque vix. Ut solum indoctum eam. Facer malorum dolorem te vix, alii dolorum apeirian et mei, his case consulatu ad. Augue elitr nec et, ne has dicit graecis. At eos vivendo commune incorrupte, ex mea primis theophrastus, sed erant accusam intellegebat ad.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Autohide Scrollbar -->

		<!-- Always Visible Scrollbar -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Visible Scrollbar</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Always Visible Scrollbar -->

		<!-- Color Scrollbar -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Color Scrollbar</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, color: '#838cc7'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Color Scrollbar -->

		<!-- Scrollbar Size -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Scrollbar Size</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, size: '10px'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scrollbar Size -->

		<!-- Scrollbar Rail -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Scrollbar Rail</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, railVisible: true, railColor: '#777', railOpacity: '.15'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scrollbar Rail -->

		<!-- Scrollbar Position -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>Scrollbar Position</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, position: 'left'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scrollbar Position -->
	</div>

	<h2 class="section-title">Specific height</h2>
	<div class="row">
		<!-- Scroll Height 300px -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>300px</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, color: '#838cc7', height: '300px'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scroll Height 300px -->

		<!-- Scroll Height 200px -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>200px</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, color: '#7dc855', height: '200px'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scroll Height 200px -->

		<!-- Scroll Height 100px -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header b-b">
					<h4>100px</h4>
				</div>
				<div class="card-block">
					<!-- SlimScroll Container -->
					<div data-js-slimscroll="{alwaysVisible: true, color: '#39add1', height: '100px'}">
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
						<p>Nonumy tacimates quaestio et usu, regione propriae ut sit. An quas atqui eligendi eam, pro in fabellas petentium, cu eam congue meliore prodesset. Id quo magna numquam scaevola. Nihil essent deserunt vim ne. Solum liber nec ex, lorem percipit sed ne, eu natum persius inciderint qui.</p>
					</div>
					<!-- End SlimScroll Container -->
				</div>
			</div>
		</div>
		<!-- End Scroll Height 100px -->

	</div><!-- .row -->
</div><!-- .container -->
<!-- End Page Content -->
