<!-- Set document title - see "_layout/_backend-document.html" -->
{% set document_title = "Components &ndash; Charts &ndash; Flot" %}
{% set active_page = "base_js_charts_flot" %}
{% set open_subnav = "base_js" %}

<!-- Extend "drawer" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-drawer.html" %}

<!-- Extend page's "content" block (see "_layout/_backend-document.html") -->
{% extends "_layout/_backend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page content -->
<div class="container-fluid p-y-md">
	<!-- Flot Charts (initialized in js/pages/base_comp_charts.js), for more examples please check http://www.flotcharts.org/flot/examples -->
	<h2 class="section-title">Flot Charts</h2>

	<div class="row">
		<!-- Lines Chart -->
		<div class="col-md-12">			
			<div class="card">
				<div class="card-header">
					<h4>Lines</h4>
					<ul class="card-actions">
						<li>
							<button  type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<!-- Lines Chart Container -->
					<div class="js-flot-lines" style="height: 330px;"></div>
				</div>
			</div>			
		</div><!-- End Lines Chart // .col-md-12 -->

		<!-- Stacked Chart -->
		<div class="col-md-12">			
			<div class="card">
				<div class="card-header">
					<h4>Stacked</h4>
					<ul class="card-actions">
						<li>
							<button  type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<!-- Stacked Chart Container -->
					<div class="js-flot-stacked" style="height: 330px;"></div>
				</div>
			</div>			
		</div><!-- End Stacked Chart // .col-md-12 -->

		<!-- Live Chart -->
		<div class="col-md-12">			
			<div class="card">
				<div class="card-header">
					<h4>Live</h4>
					<ul class="card-actions">
						<li>
							<span class="js-flot-live-info text-info"></span>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<!-- Live Chart Container -->
					<div class="js-flot-live" style="height: 360px;"></div>
				</div>
			</div>			
		</div><!-- End Live Chart // .col-md-12 -->

		<!-- Bars Chart -->
		<div class="col-md-6">			
			<div class="card">
				<div class="card-header">
					<h4>Bars</h4>
					<ul class="card-actions">
						<li>
							<button  type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<!-- Bars Chart Container -->
					<div class="js-flot-bars" style="height: 330px;"></div>
				</div>
			</div>			
		</div><!-- End Bars Chart // .col-md-6 -->

		<!-- Pie Chart -->
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h4>Pie</h4>
					<ul class="card-actions">
						<li>
							<button  type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<!-- Pie Chart Container -->
					<div class="js-flot-pie" style="height: 330px;"></div>
				</div>
			</div>
		</div><!-- End Pie Chart // .col-md-6 -->
	</div><!-- .row -->
</div><!-- .container-fluid -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
<!-- Page JS Plugins -->
<script src="{{ js_path }}plugins/flot/jquery.flot.min.js"></script>
<script src="{{ js_path }}plugins/flot/jquery.flot.pie.min.js"></script>
<script src="{{ js_path }}plugins/flot/jquery.flot.stack.min.js"></script>
<script src="{{ js_path }}plugins/flot/jquery.flot.resize.min.js"></script>

<!-- Page JS Code -->
<script src="{{ js_path }}pages/base_js_charts_flot.js"></script>
{% endblock %}