<!-- Set document title - see "_layout/_frontend-document.html" -->
{% set document_title = "Frontend - Search" %}
{% set active_page = "frontend_search" %}
{% set open_subnav = "frontend" %}

<!-- Extend "header" block (see "_layout/_frontend-document.html") -->
{% extends "_layout/_frontend-header.html" %}

<!-- Extend page's "content" block (see "_layout/_frontend-document.html") -->
{% extends "_layout/_frontend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page header -->
<div class="page-header bg-app bg-inverse">
	<div class="container">
		<!-- Section Content -->
		<div class="p-y-lg text-center">
			<h1 class="display-2">Search results for <span class="text-purple">"AppUI"</span></h1>

			<!-- Search form -->
			<div class="row m-t">
				<div class="col-sm-6 col-sm-offset-3">
					<form action="frontend_search.html" method="post">
						<div class="input-group input-group-lg">
							<input class="form-control" type="text" placeholder="Search again.." />
							<div class="input-group-btn">
								<button class="btn btn-default"><i class="ion-ios-search-strong"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- End search form -->
		</div>
		<!-- End Section Content -->
	</div>
</div>
<!-- End Page header -->

<!-- Results -->
<div class="m-t-md">
	<div class="container">
		<!-- Section Content -->
		<div class="card">
			<div class="card-block">
				<!-- Pages -->
				<div id="front-search-pages">
					<div class="row">
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
						<div class="col-md-6">
							<h3 class="h5 m-b-xs">
								<a href="javascript:void(0)">AppUI - Admin & Frontend template</a>
							</h3>
							<p class="small text-muted">http://rustheme.xyz/appui/</p>
							<p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
						</div>
					</div>
					<div class="text-center">
						<ul class="pagination">
							<li class="disabled"><a href="javascript:void(0)">Prev</a></li>
							<li class="active"><a href="javascript:void(0)">1</a></li>
							<li><a href="javascript:void(0)">2</a></li>
							<li><span>...</span></li>
							<li><a href="javascript:void(0)">10</a></li>
							<li><a href="javascript:void(0)">Next</a></li>
						</ul>
					</div>
				</div>
				<!-- End Pages -->
			</div>
		</div>
		<!-- End Section Content -->
	</div>
</div>
<!-- End Results -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
{% endblock %}
