<!-- Set document title - see "_layout/_frontend-document.html" -->
{% set document_title = "Frontend - Home" %}
{% set active_page = "frontend_home" %}

<!--
	Extend page's "header" block (see "_layout/_frontend-header.html")
	This approach allows us to include different headers (if created) or not include header on selected pages
-->
{% extends "_layout/_frontend-header.html" %}

<!-- Extend page's "content" block (see "_layout/_frontend-document.html") -->
{% extends "_layout/_frontend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page header -->
<figure class="banner bg-img bg-app bg-inverse" data-height="500" style="background-image: url({{ img_path }}misc/frontend_header_bg.png)">
	<figcaption class="banner-caption">
		<div class="container">
			<div class="row vcenter-md">
				<div class="col-md-5 col-md-push-7 text-center text-md-left">
					<h1 class="display-2 m-y">Introducing New App</h1>
					<p class="lead m-b-md">Munere dignissim euripidis nam cu. Nam semper dolorem honestatis cu, adhuc doctus mei ea. Mei recusabo consectetuer in.</p>
					<a class="btn btn-default btn-lg" href="javascript:void(0)">Purchase AppUI now</a>
				</div>
				<div class="col-md-6 col-md-pull-5 hidden-sm hidden-xs">
					<img class="img-responsive img-full" src="{{ img_path }}misc/frontend_home1.png" alt="" />
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</figcaption>
</figure>
<!-- End page header -->

<div class="section bg-white">
	<div class="container p-y-xl b-b">
		<div class="row m-b-md">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="section-tag">Features</div>
				<h2 class="h1 display-2 m-t">Design with Ease</h2>
				<p>Consul pertinax oportere ut eos, option omnesque pro no. Vix eu nonumy vivendo volumus, soleat accusamus no nam.</p>
			</div>
		</div><!-- .row -->

		<div class="row text-center">
			<div class="col-md-4">
				<i class="ion-upload text-muted fa-4x"></i>
				<h4 class="m-t-0">Cloud computing</h4>
				<p class="text-muted">At qui adipiscing omittantur, molestiae persequeris ea duo. Mel ei dignissim tincidunt voluptaria.</p>
			</div>
			<div class="col-md-4">
				<i class="ion-archive text-muted fa-4x"></i>
				<h4 class="m-t-0">Upload your data</h4>
				<p class="text-muted">Eos id error pericula scribentur, harum aeterno scribentur eam an. Equidem ancillae suscipit at.</p>
			</div>
			<div class="col-md-4">
				<i class="ion-pie-graph text-muted fa-4x"></i>
				<h4 class="m-t-0">Advanced analytics</h4>
				<p class="text-muted">Albucius atomorum abhorreant sed id, eum postulant interesset ut, nam alii congue eu.</p>
			</div>			
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section p-y-xl bg-white">
	<div class="container">
		<div class="row vcenter-md m-b-md">
			<div class="col-md-4 col-md-offset-1 text-center text-md-left">
				<h2 class="h1 display-2 m-b">Cloud computing</h2>
				<p class="lead m-b-lg">Et oporteat pericula cum, libris quidam vix ne. Vix id facer lucilius maiestatis.</p>
				<p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
			</div><!-- .col-md-4 -->
			<div class="col-md-4 col-md-offset-2">
				<img class="img-responsive" src="{{ img_path }}misc/frontend_home2.png" alt="" />
			</div><!-- .col-md-4 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section p-y-xl bg-white">
	<div class="container">
		<div class="row vcenter-md m-b-md">
			<div class="col-md-4 col-md-push-7 text-center text-md-left">
				<h2 class="h1 display-2 m-b">Upload your data</h2>
				<p class="lead m-b-lg">Cum wisi possim ne, quis audiam his id. Mei aliquip appareat legendos in, ea vero tation per.</p>
				<p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a></p>
			</div><!-- .col-md-4 -->
			<div class="col-md-4 col-md-pull-3">
				<img class="img-responsive" src="{{ img_path }}misc/frontend_home3.png" alt="" />
			</div><!-- .col-md-4 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section p-y-xl bg-white">
	<div class="container">
		<div class="row vcenter-md m-b-md">
			<div class="col-md-4 col-md-offset-1 text-center text-md-left">
				<h2 class="h1 display-2 m-b">Advanced analytics</h2>
				<p class="lead m-b-lg">Usu ut diam primis tacimates, omnium efficiendi delicatissimi ea est. Malis congue id vis.</p>
				<p class="m-b-md"><a class="btn btn-app btn-lg" href="javascript:void(0)"><i class="ion-ios-cart m-r-xs"></i> Purchase for $14</a></p>
			</div><!-- .col-md-4 -->
			<div class="col-md-4 col-md-offset-2">
				<img class="img-responsive" src="{{ img_path }}misc/frontend_home4.png" alt="" />			
			</div><!-- .col-md-4 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section p-y-xl bg-white hidden-sm hidden-xs">
	<div class="container">
		<div class="row m-b-md">
			<div class="col-md-4 col-md-offset-1">
				<div class="img-box">
					<img class="img-avatar" src="{{ img_path }}avatars/avatar3.jpg" alt="" />
					<div class="img-text">
						<h2 class="h1 m-t-0">For developers</h2>
						<p class="m-b">Duo brute quaestio et. At laudem doming adipisci qui, vero nonumes lucilius vis te.</p>
						<a href="javascript:void(0)">View full project <i class="ion-ios-arrow-right m-l-xs"></i></a>
					</div>
				</div><!-- .img-box -->
			</div><!-- .col-md-4 -->
			<div class="col-md-4 col-md-offset-2">
				<div class="img-box">
					<img class="img-avatar" src="{{ img_path }}avatars/avatar5.jpg" alt="" />
					<div class="img-text">
						<h2 class="h1 m-t-0">For designers</h2>
						<p class="m-b">Cu virtute appareat duo, tota assum summo duo at, sit no adolescens deseruisse.</p>
						<a href="javascript:void(0)">Take a tour <i class="ion-ios-arrow-right m-l-xs"></i></a>
					</div>
				</div><!-- .img-box -->
			</div><!-- .col-md-4 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section p-y-xl bg-app bg-inverse">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="h1 display-2">Try it for free</h2>
				<p class="lead">This form is a placeholder. Requests won't be proccessed. Vim delectus inciderint no.</p>
			</div>
		</div><!-- .row -->
		<div class="row p-t-md p-b-lg">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="exampleInputName2">Name</label>
						<input type="text" class="form-control input-lg" id="exampleInputName2" placeholder="Your name" />
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email</label>
						<input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="email@example.com" />
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPass">Password</label>
						<input type="password" class="form-control input-lg" id="exampleInputPass" placeholder="Password" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default btn-lg">Sign up</button>
					</div>
				</form>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}{% endblock %}
