<!-- Set document title - see "_layout/_frontend-document.html" -->
{% set document_title = "Frontend - Support" %}
{% set active_page = "frontend_support" %}
{% set open_subnav = "frontend" %}

<!-- Extend "header" block (see "_layout/_frontend-document.html") -->
{% extends "_layout/_frontend-header.html" %}

<!-- Extend page's "content" block (see "_layout/_frontend-document.html") -->
{% extends "_layout/_frontend-page.html" %}

<!-- Content -->
{% block content %}

<!-- Page header -->
<div class="page-header bg-app bg-inverse">
	<div class="container">
		<!-- Section Content -->
		<div class="p-y-lg text-center">
			<h1 class="display-2">Support Center</h1>

			<!-- Search form -->
			<div class="row m-t">
				<div class="col-sm-6 col-sm-offset-3">
					<form action="frontend_search.html" method="post">
						<div class="input-group input-group-lg">
							<input class="form-control" type="text" placeholder="Search support.." />
							<div class="input-group-btn">
								<button class="btn btn-default"><i class="ion-ios-search-strong"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- End search form -->
		</div>
		<!-- End Section Content -->
	</div>
</div>
<!-- End Page header -->

<!-- Categories -->
<div class="page-content bg-white">
	<div class="container">
		<!-- Section Content -->
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<a class="card hover-shadow-3" href="javascript:void(0)">
					<div class="card-block b-b text-center">
						<i class="ion-log-in fa-3x"></i>
					</div>
					<div class="card-block bg-gray-lighter-o">
						<span><span class="badge badge-purple pull-right">12</span> Account</span>
					</div>
				</a>
			</div><!-- .col-xs-6 -->

			<div class="col-xs-6 col-sm-3">
				<a class="card hover-shadow-3" href="javascript:void(0)">
					<div class="card-block b-b text-center">
						<i class="ion-settings fa-3x"></i>
					</div>
					<div class="card-block bg-gray-lighter-o">
						<span><span class="badge badge-default pull-right">9</span> Features</span>
					</div>
				</a>
			</div><!-- .col-xs-6 -->

			<div class="col-xs-6 col-sm-3">
				<a class="card hover-shadow-3" href="javascript:void(0)">
					<div class="card-block b-b text-center">
						<i class="ion-ios-people fa-3x"></i>
					</div>
					<div class="card-block bg-gray-lighter-o">
						<span><span class="badge badge-default pull-right">24</span> Services</span>
					</div>
				</a>
			</div><!-- .col-xs-6 -->

			<div class="col-xs-6 col-sm-3">
				<a class="card hover-shadow-3" href="javascript:void(0)">
					<div class="card-block b-b text-center">
						<i class="ion-ios-cart fa-3x"></i>
					</div>
					<div class="card-block bg-gray-lighter-o">
						<span><span class="badge badge-default pull-right">2</span> Payments</span>
					</div>
				</a>
			</div><!-- .col-xs-6 -->

		</div><!-- .row -->
		<!-- End Section Content -->
		<!-- Section Content -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<!-- Introduction -->
				<h2 class="h3 m-t-lg m-b">Introduction</h2>
				<div id="frontend-faq1" class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq1" href="#frontend-faq1_q1">Welcome to our service!</a>
							</h3>
						</div>
						<div id="frontend-faq1_q1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq1" href="#frontend-faq1_q2">Who are we?</a>
							</h3>
						</div>
						<div id="frontend-faq1_q2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq1" href="#frontend-faq1_q3">What are our values?</a>
							</h3>
						</div>
						<div id="frontend-faq1_q3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Introduction -->

				<!-- Functionality -->
				<h2 class="h3 m-t-lg m-b">Functionality</h2>
				<div id="frontend-faq2" class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq2" href="#frontend-faq2_q1">What are the key features?</a>
							</h3>
						</div>
						<div id="frontend-faq2_q1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq2" href="#frontend-faq2_q2">Does your App support mobile devices?</a>
							</h3>
						</div>
						<div id="frontend-faq2_q2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq2" href="#frontend-faq2_q3">Why should I choose your service?</a>
							</h3>
						</div>
						<div id="frontend-faq2_q3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq2" href="#frontend-faq2_q4">Is my data secure?</a>
							</h3>
						</div>
						<div id="frontend-faq2_q4" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Functionality -->

				<!-- Payments -->
				<h2 class="h3 m-t-lg m-b">Payments</h2>
				<div id="frontend-faq3" class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq3" href="#frontend-faq3_q1">Is there any free plan?</a>
							</h3>
						</div>
						<div id="frontend-faq3_q1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq3" href="#frontend-faq3_q2">What are the available payment options?</a>
							</h3>
						</div>
						<div id="frontend-faq3_q2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#frontend-faq3" href="#frontend-faq3_q3">Can multiple people use my account?</a>
							</h3>
						</div>
						<div id="frontend-faq3_q3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
								<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci et.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Payments -->
			</div>
		</div>
		<!-- End Section Content -->
	</div>
</div>
<!-- End Categories -->

{% endblock %}
<!-- End content -->

<!-- Add this block if you want to add custom css to the <head> tag -->
{% block scripts_head %}
{% endblock %}

<!-- Add this block if you want to add custom js to the footer, before closing </body> -->
{% block scripts_footer %}
{% endblock %}