
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/AllClass/Content/sharestyle.css" rel="stylesheet" />
<link href="~/AllClass/Content/main.css" rel="stylesheet" />
<link href="~/ToolCss/MySelf.css" rel="stylesheet" />
<h1>TryTool</h1>
<div class="rightcont">
    我的
    <button>
    </button>
    <a href="~/htmlpage.html">不知去向</a>
    <a href="http://www.baidu.com" target="_top">百度</a>
    <a href="D:\A_Githup\ycx\one\SoWereMVC\SoWereMVC\Go.html"> 条</a>
</div>



