
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TryToolB</title>
    <link href="~/AllClass/Content/sharestyle.css" rel="stylesheet" />
    <link href="~/AllClass/Content/main.css" rel="stylesheet" />
    <script src="~/AllClass/Scripts/jquery-1.8.3.min.js"></script>
    @*<link href="~/ToolCss/bootstrap.css" rel="stylesheet" />*@
    <script>

        function ShowMenuList(id) {
            var objectobj = document.getElementById(id);
            var dtObj = document.getElementById("dt_" + id);
            if (objectobj.style.display == "none") {
                objectobj.style.display = "";
                dtObj.setAttribute("class", "head2");
                //其它菜单折叠
                $(dtObj).parent().parent().find("dt").not(dtObj).attr("class", "head1"); //折叠
                $(objectobj).parent().parent().find("ul").not(objectobj).css("display", "none"); //隐藏菜单子项
            } else {
                objectobj.style.display = "none";
                dtObj.setAttribute("class", "head1");
            }
        }

        function showDivMenu(divId) {
            $("#" + divId).css("visibility", "visible");
            $("#" + divId).siblings("div").css("visibility", "hidden");
        }
        $(function () {
            $(".box_n li a").click(function () {
                $(".box_n li a").removeClass("nav_sub");
                $(this).addClass("nav_sub");
            });
        });
        function goNewPage(url, name) {
            self.parent.frames["mainFrame"].addTab(url, name);
        }

    </script>

</head>
<body>
    <div class="right">
        <div class="col-md-12">
            哦我的水水水水水水水水水水水水水水水水水水水

        </div>
    </div>



    <div class="leftbar" id="divFinancial">
        <dl>
            <dt id="dt_ulChannel" class="head2" onclick='ShowMenuList("ulChannel")'>汽车管理</dt>
            <ul class="box_n" id="ulChannel">
                <li>@Html.ActionLink("汽车显示", "", "")</li>

            </ul>
        </dl>
        <dl>
            <dt id="dt_ulFinancial" class="head1" onclick='ShowMenuList("ulFinancial")'>财务管理</dt>
            <ul class="box_n" id="ulFinancial" style="display: none;">
            </ul>
        </dl>
    </div>
    <div class="rightcont">
        <a href="../">tiao</a>

    </div>

    <a href="D:\A_Githup\ycx\one\SoWereMVC\SoWereMVC\Go.html">D:\A_Githup\ycx\one\SoWereMVC\SoWereMVC\Go.html</a>


</body>
</html>
